.caixa{
    width: 90%;
    display: flex;
    text-align: center;
    color: white;
    margin: 8px;
    justify-content: center;
    align-items: center;
    margin-top: -140px;
    

}
.icones{
    flex: 50%;
    display: inline-block;
    
}
.botoes{
    width: 40px;
    flex-flow: row wrap;
}
.texto{
    flex: 50%;
    font-size: 20px;
    margin-top: 50px;
      
}
.botao{
    margin: 1%;
    padding: 4%;
    font-weight: bold;
    font-size: 20px;
    animation: btn 2.5s infinite alternate-reverse ;
    border-radius: 8px;
    border: solid 2px rgb(238, 147, 11);
     background:  rgb(214, 142, 7);
     color: white;
     opacity: 0.9;
     font-family:monospace;
     box-shadow: 10px 10px 15px rgb(0, 0, 0);
    

}
@keyframes btn{
    from{
        background:  rgb(214, 142, 7);
    }
    to{
        background:   rgb(255, 255, 255);
        color: black;
    }
}
.botao:hover{
    cursor: pointer;
    padding: 6%;
    transition: all ease 0.5s;
    background: white;
    color: black;
    animation:inherit;
 
}

